#wrap {
    background-color:#FCB454;
    width:440px; height:956px;
    padding-left:15px;
    padding-right:15px;
}
#wrap h1 {
    padding-top:123px;
    margin-bottom:30px;
    color:#1B56FD;
    font-size:2.5rem;
    font-weight:600;
}
#wrap > p {}
#wrap h1+p {
    color:#1B56FD;
    margin-bottom:85px;
}
#wrap #login_frm {}
#wrap #login_frm h2 {
    font-size:1.375rem;
    font-weight:600;
    margin-bottom:15px;
}
#wrap #login_frm p {
    font-size:0.875rem;
}
#wrap #login_frm .user_in {
    margin-bottom:50px;
}
#wrap #login_frm .user_btn { 
    margin-bottom:15px;
}
#wrap #login_frm p input ::placeholder{/* placeholder 속성선택자작성법 */
    font-size:0.875rem;
    font-weight:300;
}
#wrap #login_frm p input {
    width:410px; 
    border:1px solid #000;
    border-radius:15px;
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:15px;
}
#wrap #login_frm p #login_btn {
    background-color:#fff;
    font-weight:600; font-size:0.875rem;
    width:410px;
    border:1px solid #000;
    border-radius:15px;
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:15px;
}
#wrap #login_frm p .login_google {
    width:410px; 
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:15px;
    background-color:#fff;
    border:1px solid #000;
    border-radius:15px;
    text-align:center;
    display:block;
    font-weight:600; font-size:0.875rem;
}
#wrap #login_frm+p {
    font-size:0.75rem;
    text-align:center;
    letter-spacing:0;
    margin-top:44px;
    font-weight:300;
}
#wrap #login_frm+p a {
    font-weight:600;
}