#mobile_wrap {
    background-color:#FFB1B1; /* #mobile_wrap */
    width:440px; height:956px; /* #mobile_wrap */
    text-align:center; /* 자식,자손 정렬 */
    font-family:'pretendard', sans-serif; /* 자식,자손 글꼴 통일 */
}
#mobile_wrap .photo {
    margin-top:121px;
    margin-bottom:53px;
    display:inline-block;
}
#mobile_wrap .photo img {}
#mobile_wrap h1 {
    /* 글꼴 부모 상속 상태 */
    color:#fff;
    font-weight:500;
    font-size:2rem;
    letter-spacing:-0.02em;
    line-height:1;
    margin-bottom:67px;
}
#mobile_wrap h1 span {
    /* 글꼴,행간,자간 상속상태 */
    color:#0627FF;
    font-weight:700;
    font-size:2.25rem;
}
#mobile_wrap h2 {
    font-weight:600;
    font-size:1rem;
    line-height:1.5;
    letter-spacing:-0.02em;
    width:222px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#mobile_wrap .git {
    font-weight:600;
    font-size:1rem;
    line-height:1.5;
    letter-spacing:-0.02em;
    width:222px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#mobile_wrap .skill {}
#mobile_wrap .skill li {
    line-height:1.5;
    font-weight:600;
    font-size:1rem;
    letter-spacing:-0.02em;
    width:222px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}